<ion-view >
    <ion-content>
        <!-- Aqui coloquei o input de pesquisa de serviços e negócios-->
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Digite">
            </label>
        </div>

        <div class="list">
            <a ui-sref="negocio({id: negocio.id})" class="item item-avatar-left" ng-repeat="negocio in negocios">
                <img src=""/>
                <h2>{{ negocio.nome }}</h2>
                <p>
                  {{negocio.descricao}}
                </p>
                <p>
                  H&aacute; {{
                              showDistance(
                              {
                                'latitude' : lat,
                                'longitude': long
                              },{
                                'latitude' : negocio.latitude,
                                'longitude': negocio.longitude
                              })
                            }} km
                </p>
            </a>
        </div>
    </ion-content>
</ion-view>
