<ion-view >
    <ion-content>
      <ion-tabs class="tabs-positive tabs-top tabs-background-energized tabs-color-light"/>
        <ion-tab icon="ion-home" on-select="setCurrentTab('home')"></ion-tab>
        <ion-tab icon="ion-android-call" on-select="setCurrentTab('call')" ng-click="call({{}})"></ion-tab>
        <ion-tab icon="ion-location" on-select="setCurrentTab('map')"></ion-tab>
        <ion-tab icon="ion-ios-heart-outline" on-select="setCurrentTab('favorites')"></ion-tab>
        <ion-tab icon="ion-chatbubble" on-select="setCurrentTab('review')"></ion-tab>
      </ion-tabs>

      <div style="padding-top:5em;" ng-show="currentTab==='home'">
        <div class="card">
          <div class="item">
              <h2>{{negocio.nome}}</h2>
              <p>{{negocio.enderecos[0].descricao}}</p>
          </div>
          <div class="item item-body">
            <ion-slide-box class="swiper-container" on-slide-changed="slideHasChanged($index)">
              <ion-slide>
                <div class="box blue"><h2>Exemplo 1</h2></div>
              </ion-slide>
              <ion-slide>
                <div class="box yellow"><h2>Exemplo 2</h2></div>
              </ion-slide>
              <ion-slide>
                <div class="box pink"><h2>Exemplo 3</h2></div>
              </ion-slide>
            </ion-slide-box>
          </div>
          <span ng-repeat="categoria in negocio.categorias">
            <a ng-click="negocios({{categoria.pivot.idCategoria}},{{categoria.ramo.id}})" href="">
              Categoria {{categoria.pivot.idCategoria}}
            </a> ,
          </span>
        </div>
      </div>
      <div style="padding-top:5em;" ng-if="currentTab === 'map'">
        <ng-map id="map" center="-23.5505199, -46.6333094" zoom="15"></ng-map>
      </div>
      <div style="padding-top:5em;" ng-show="currentTab==='review'">
        <div class=" card list rating-center">
          <rating ng-model="rating.rate" max="5"></rating>
        </div>
      </div>
    </ion-content>
</ion-view>
