.tabs-top > .tabs, .tabs.tabs-top {
    top: 0 !important;
}

.swiper-container {
  height:25em;
  background-color: yellow;
}

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 3.5em;
}

.rating-center{
  text-align:center;
}

.dark{
  background-color: #3f4041 !important;

}

.menu-black{
  background-color: #3f4041 !important;
  border-color: black;
  color: #ffffff;
.scroll-content {
  background-color: #3f4041 !important;
}
}


#map {
    width: 100%;
    height: 100%;
    position: absolute !important;
}

.scroll {
 height: 100%;
}
